<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Descripción del vehiculo</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/personal.css" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
      referrerpolicy="no-referrer"
    ></script>
    <script src="js/bootstrap.bundle.min.js"></script>
  </head>
  <body style="background-color: #c8c7c7">
    <!-- NAVBAR -->
    <div class="container-fluid" id="barra-de-navegacion">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark rounded-bottom">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html"> Isurus Ictu </a>
          <button
            class="navbar-toggler ms-auto"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-1 text-center">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Catálogo completo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="mas-vendidos.html">Más vendidos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="mas-recientes.html">Más recientes</a>
              </li>
              <!-- Checamos si la sesion ha sido declarada como iniciada -->
              <% if (variableSesion) { %>
              <li class="nav-item">
                <div class="dropdown">
                  <button
                    class="btn btn-primary dropdown-toggle col-12"
                    type="button"
                    id="btnDropDown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <%=variableSesion%>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="btnDropDown">
                    <li>
                      <a class="dropdown-item" href="informacion-cuenta.html"
                        >Cuenta</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="consultar-compras.html"
                        >Compras</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="./cerrar-sesion.html"
                        >Cerrar sesión</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
              <!-- En caso contrario mandamos este bloque -->
              <% } else {%>
              <li class="nav-item">
                <a
                  class="nav-link bg-secondary btn active btn-nav"
                  href="iniciar-sesion.html"
                  >Iniciar Sesion</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link bg-primary btn active btn-nav"
                  href="crear-cuenta.html"
                  >Registrarse</a
                >
              </li>

              <% } %>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      <div class="input-group p-2">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Buscar"
          aria-label="Buscar"
          aria-describedby="search-addon"
        />
        <!-- <button type="button" class="btn btn-primary">Buscar</button> -->
        <a href="./buscar-vehiculo.html" class="btn btn-primary">Buscar</a>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <h1 class="text-center display-3 texto-azul"><%=modelo%></h1>
          <p class="text-center">Marca: <%=infoModelo[0].marcamodelo%></p>
          <p class="text-center">Colores disponibles</p>
          <p class="text-center">Versión: <%=infoModelo[0].versionmodelo%></p>
          <p class="text-center">Año: <%=infoModelo[0].anomodelo%></p>
          <p class="text-center">Motor: <%=infoModelo[0].motormodelo%></p>
          <!-- <h2 class="text-center texto-azul">
          Adquirir vehiculo
        </h2> -->
        </div>
        <div class="col-lg-7">
          <div class="row">
            <h1 class="text-center display-3">Personalización</h1>
          </div>
          <div
            id="carouselExampleCaptions"
            class="carousel slide"
            data-bs-ride="carousel pause"
          >
            <div class="carousel-indicators">
              <%  for (let i = 0; i < tamanioCaracterizados; i++) { %>
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="<%=i%>"
                aria-label="Slide <%=i+1%>"
                <% if (i === 0) { %>
                  class="active"
                  aria-current="true"
                <% } %>  
              ></button>
              <% } %>
            </div>
            <div class="carousel-inner">
              <!--
              <div class="carousel-item">
                <img
                  src="../imgs/<%=infoModelo[0].nombremodelo%>-rojo.png"
                  class="d-block w-100"
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5>Modelo A</h5>
                  <p>Versión roja.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  src="../imgs/<%=infoModelo[0].nombremodelo%>-verde.png"
                  class="d-block w-100"
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5>Modelo B</h5>
                  <p>Versión verde.</p>
                </div>
              </div>
              -->
              <%  for (let i = 0; i < tamanioCaracterizados; i++) { %>
                <% if (i === 0) { %>
                  <div class="carousel-item active">
                <% } else { %>
                  <div class="carousel-item">
                <% } %>
                  <img
                    src="../imgs/<%=infoModelo[0].nombremodelo%>.png"
                    class="d-block w-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <form
                      action="confirmar-compra%>"
                      method="POST"
                      id="personalizacion"
                    >
                      <input
                        style="display: none"
                        name="idcarmodelo"
                        value="<%=caracterizados[i].idcarmodelo%>"
                      />
                      <input
                        style="display: none"
                        name="modelo"
                        value="<%=modelo%>"
                      />
                      <input
                        style="display: none"
                        name="precio"
                        value="<%=caracterizados[i].precio%>"
                      />
                      <h5 name="modelo"><%=modelo%></h5>
                      Precio:
                      <p name="precio" id="precio">
                        <%=caracterizados[i].precio%>
                      </p>
                      Color:
                      <p name="color" id="color"><%=caracterizados[i].color%></p>
                      <%if(caracterizados[i].stock > 0){%>
                      <button
                        style="width: fit-content"
                        class="btn btn-primary col-12"
                        type="submit"
                      >
                        Comprar ahora
                      </button>
                      <%}else{%>
                        <button
                        style="width: fit-content"
                        class="btn btn-primary col-12"
                        type="submit"
                        disabled
                      >
                        Comprar ahora
                      </button>
                      <p style="size: 3px; color: red;">Caracterizacion no disponible</p>
                        <%}%>
                    </form>
                  </div>
                </div>
              <% } %>
            </div>

            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
          <!--<div class="text-center">
              <img
                class="rounded imgDesc"
                src="/imgs/<%=infoModelo[0].nombremodelo%>.png"
                alt="..."
                style="max-width: 100%; height: auto"
              />
            </div>
            -->
        </div>
      </div>
      <div class="row m-4">
        <div class="col">
          <h2>Descripción</h2>
          <!-- <p>
            <em>
              Etiquetas: Gasolina, 4 puertas, carro para godín, económico,
              radio fm, turbo, Apple CarPlay
            </em>
          </p> -->
          <p><%=infoModelo[0].descripcionmodelo%></p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" colspan="2">Especificaciones técnicas</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Masa máxima autorizada</td>
                <td><%=infoModelo[0].kgmma%> kilogramos</td>
              </tr>
              <tr>
                <td>Capacidad del maletero</td>
                <td><%=infoModelo[0].capacidadmaletero%> litros</td>
              </tr>
              <tr>
                <td>Número de puertas</td>
                <td><%=infoModelo[0].npuertas%> puertas</td>
              </tr>
              <tr>
                <td>Número de plazas</td>
                <td><%=infoModelo[0].nplazas%> personas</td>
              </tr>
              <tr>
                <td>Altura</td>
                <td><%=infoModelo[0].maltura%> metros</td>
              </tr>
              <tr>
                <td>Anchura</td>
                <td><%=infoModelo[0].mancho%> metros</td>
              </tr>
              <tr>
                <td>Distancia entre ejes</td>
                <td><%=infoModelo[0].mdistanciaejes%> metros</td>
              </tr>
              <tr>
                <td>Coeficiente aerodinámico</td>
                <td><%=infoModelo[0].coeficienteaerodinamico%></td>
              </tr>
              <tr>
                <td>Kilometros de autonomía</td>
                <td><%=infoModelo[0].kmautonomia%> kilometros</td>
              </tr>
              <tr>
                <td>Peso del automóvil</td>
                <td><%=infoModelo[0].kgpeso%> kilogramos</td>
              </tr>
              <tr>
                <td>Aceleración de 0 a 100 km/h</td>
                <td><%=infoModelo[0].segaceleracion0a100%> segundos</td>
              </tr>
              <tr>
                <td>Suspención delantera</td>
                <td><%=infoModelo[0].susdelantera%></td>
              </tr>
              <tr>
                <td>Suspención trasera</td>
                <td><%=infoModelo[0].sustrasera%></td>
              </tr>
              <tr>
                <td>Frenos delanteros</td>
                <td><%=infoModelo[0].frenosdelanteros%></td>
              </tr>
              <tr>
                <td>Frenos traseros</td>
                <td><%=infoModelo[0].frenostraseros%></td>
              </tr>
              <tr>
                <td>Neumáticos</td>
                <td><%=infoModelo[0].neumaticos%></td>
              </tr>
              <tr>
                <td>Meterial de llantas</td>
                <td><%=infoModelo[0].materialllantas%></td>
              </tr>
              <tr>
                <td>Potencia</td>
                <td><%=infoModelo[0].kwpotencia%> KiloWatts</td>
              </tr>
              <tr>
                <td>Tipo de combustible</td>
                <td><%=infoModelo[0].combustible%></td>
              </tr>
              <tr>
                <td>Números de cilindros</td>
                <td><%=infoModelo[0].ncilindros%> cilindros</td>
              </tr>
              <tr>
                <td>Cilindrada</td>
                <td><%=infoModelo[0].cm3cilindrada%> cm<sup>3</sup></td>
              </tr>
              <tr>
                <td>Emisiones de dioxido de carbono</td>
                <td><%=infoModelo[0].gkmemisionco2%> gramos/kilometro</td>
              </tr>
              <tr>
                <td>Tiempo de carga</td>
                <td><%=infoModelo[0].tiempocarga%> minutos</td>
              </tr>
              <tr>
                <td>Capacidad de la bateria</td>
                <td><%=infoModelo[0].capacidadbateria%> kiloWatt/hora</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
