<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Página de inicio</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <!--    <link rel="stylesheet" href="css/personal.css" />-->
    <link rel="stylesheet" type="text/css" href="css/personal.css" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
      referrerpolicy="no-referrer"
    ></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="../js/sesion.js"></script>
  </head>

  <body style="background-color: #c8c7c7" onload="checarSesion('<%=estatusSesion%>')">
    <!-- NAVBAR -->
    <div class="container-fluid" id="barra-de-navegacion">

    </div>

    <div class="container">
      <div class="input-group p-2">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Buscar"
          aria-label="Buscar"
          aria-describedby="search-addon"
        />
        <!-- <button type="button" class="btn btn-primary">Buscar</button> -->
        <a href="./buscar-vehiculo.html" class="btn btn-primary">Buscar</a>
      </div>

      <!-- TITULO DE CATALOGOS COMPLETO-->
      <div class="row mt-3">
        <div class="col">
          <h1>Catálogo completo</h1>
        </div>
      </div>

      <!--  Tarjetas de vehiculos-->
      <div id="vehiculos">
        <div class="container-md mt-5">
          <div class="row">
            <% for (let i = 0; i < resCatalogo.length.toString(); i++){ %>

            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card w-100 card mb-5 card-border text-white bg-dark">
                <div class="imgCatalogo d-flex justify-content-center">
                  <img
                    class="card-img-top"
                    src="imgs/<%=resCatalogo[i]%>.png"
                    alt="Card image cap"
                  />
                </div>
                <div class="card-body text-center">
                  <form action="descripcion" method="post">
                    <label
                      name="model"
                      value="<%=resCatalogo[i]%>"
                      id="model"
                      style="display: none"
                      ><%=resCatalogo[i]%></label
                    >
                    <h5 class="card-title"><%=resCatalogo[i]%></h5>
                    <p class="card-text">Desde 15 000 pesos</p>

                    <!--<a href="descripcion.html" class="btn btn-primary col-12"
                      >Comprar</a
                    >-->
                    <button class="btn btn-primary col-12" type="submit">
                      Comprar
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
